body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 span {
    color: orange;
}

p {
    text-align: justify;
}

.ancor-button {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
}

section {
    height: 300px;
    padding-top: 10px;
    padding-bottom: 150px;
}

.top-banar {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    display: flex;
}

.helf-wedth {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.top-para {
    margin-top: 5%;
}

h1 {
    font-size: 50px;
}

.helf-wedth img {
    width: 80%;
}