body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 span {
    color: orange;
}

p {
    text-align: justify;
}

.ancor-button {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
}

section {
    height: 500px;
    padding-top: 10px;
    padding-bottom: 150px;
}

.top-banar {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    display: flex;
}

.Second-sec {
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.helf-wedth {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.para {
    margin-top: 50px;
}

h1 {
    font-size: 50px;
}

.helf-wedth img {
    width: 80%;
}

.Second-sec {
    margin-top: 5%;
}

.experiances {
    display: flex;
}

.experiances h3 {
    color: orange;
}

.experiance-item {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 50px gray;
}

#item-1 {
    border-left: 5px solid rgb(123, 20, 249);
}

#item-2 {
    border-left: 5px solid rgb(123, 245, 31);
}

footer p {
    text-align: center;
}